<main id="main" class="main">
    <section class="section">
        <div class="row">
          <div class="col-lg-12">
    
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Thông tin bản quyền đăng kí</h5>
                
                <p *ngIf="tableData.length == 0">Không có dữ liệu</p>
                <!-- Table with stripped rows -->
                <table class="table datatable" *ngIf="tableData.length != 0">
                  <thead>
                    <tr>
                      <th>
                        Tên bài
                      </th>
                      <th data-type="date" data-format="YYYY/DD/MM">Thời điểm đăng kí</th>
                      <th>Người đăng kí</th>
                      <th>Tác giả</th>
                      <th>Ghi chú</th>
                      <th>Tình trạng</th>
                      <th>Bài viết</th>
                      <th *ngIf="role == '2'">Phê duyệt</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of tableData">
                        <td>{{item.title}}</td>
                        <td>{{convertDateFormat(item.updateTime)}}</td>
                        <td>{{item.updateBy}}</td>
                        <td>{{item.author_identity}}</td>
                        <td>{{item.note}}</td>
                        <td >{{item.status == 0 ? 'Chưa duyệt' : 'Đã duyệt'}}</td>
                        <td><button class="btn btn-primary" (click)="getFileClick(item.id)">Xem bài</button></td>
                        <td *ngIf="role == '2'"><button class="btn btn-primary">Phê duyệt</button></td>

                    </tr>
                  </tbody>
                </table>
                <!-- End Table with stripped rows -->
    
              </div>
            </div>
    
          </div>
        </div>
      </section>    
</main>